# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
build/
dist/
*.egg-info/

# Node / JS
node_modules/
npm-debug.log*
yarn-error.log*
.pnp.cjs
.pnp.loader.mjs
.cache/
coverage/

# Editors/IDE
.idea/
.vscode/
*.swp

# Logs and env
*.log
.env
.env.local

# Misc
.tmp/
